.container {
   text-align: center;
   font-family: 'Times New Roman', Times, serif;
   margin-top: 10%;
}

button {
   background-color: blue;
   border: none;
   color: white;
   padding: 15px;
   text-align: center;
   font-size: 10px;
}

.hidden {
   display: none;
}